<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Simple Auto Fill</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
	<style>
	.clickable { cursor: pointer }
	body { min-width: 200px }
	</style>
</head>
<body ng-controller="DefaultController">
	<div class="container">
		<h4>Simple Auto Fill</h4>
	</div>
	<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
		<li role="presentation"><a href="" ng-click="fillForm()">Fill form</a></li>
		<li role="presentation"><a href="" ng-click="manage()">Manage rules</a></li>
	</ul>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="popup.js"></script>
</body>
</html>